@import url("import/userEdit.css");

.container {
    padding-top: 10px;
    margin-left: 50px;
    width: 700px;
}

.form-horizontal {
    width: 100%;
}

input[type="text"] {
    height: 25px;
}

.navbar .nav > li > a {
    color: #000000;
}

.form-horizontal .control-label {
    text-align: left;
}



textarea{
    width: 30%;
    /*min-width: 20%;*/
    height: 100px;
}
.depth1{
    margin-left: 40px;
}
.depth2{
    margin-left: 80px;
}
.depth3{
    margin-left: 120px;
}
.depth4{
    margin-left: 160px;
}
.comment-block li{
    display: block;
}

span.success {
    color: #4F8A10;
    margin-left: 12px;
}

span.error {
    color: #D8000C;
}

div.comment {
    color: #4F8A10;
    background-color: #DFF2BF;
    /*background-image: url('image/success.png');*/
}


div.info,div.success,div.warning,div.error {
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

div.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('image/info.png');
}

div.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('image/success.png');
}

div.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('image/warning.png');
}

div.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('image/error.png');
}
