<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="transactionManagerJDBC" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>


    <bean id="webAclExpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler">
        <property name="permissionEvaluator" ref="aclPermissionEvaluator"/>
    </bean>


    <bean id="methodAclExpressionHandler" class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler">
        <property name="permissionEvaluator" ref="aclPermissionEvaluator" />
        <property name="permissionCacheOptimizer"  ref="permissionCacheOptimizer"/>
    </bean>
    <bean id="aclPermissionEvaluator" class="org.springframework.security.acls.AclPermissionEvaluator">
        <constructor-arg ref="aclService" />
    </bean>
    <bean id="permissionCacheOptimizer" class="org.springframework.security.acls.AclPermissionCacheOptimizer">
        <constructor-arg ref="aclService"/>
    </bean>

    <bean id="aclService" class="org.springframework.security.acls.jdbc.JdbcMutableAclService">
        <constructor-arg ref="dataSource"/>
        <constructor-arg ref="lookupStrategy"/>
        <constructor-arg ref="aclCache"/>
    </bean>
    <bean id="lookupStrategy" class="org.springframework.security.acls.jdbc.BasicLookupStrategy">
        <constructor-arg ref="dataSource"/>
        <constructor-arg ref="aclCache"/>
        <constructor-arg ref="aclAuthorizationStrategy"/>
        <constructor-arg ref="consoleAuditLogger"/>
    </bean>

    <bean id="consoleAuditLogger" class="org.springframework.security.acls.domain.ConsoleAuditLogger" />

    <bean id="aclCache"  class="org.springframework.security.acls.domain.EhCacheBasedAclCache">
        <constructor-arg ref="aclEhCacheFactoryBean"/>
    </bean>
    <bean id="aclEhCacheFactoryBean" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
        <property name="cacheManager" ref="aclCacheManager"/>
        <property name="cacheName" value="aclCache" />
    </bean>
    <bean id="aclCacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"/>

<!--
    <bean id="aclAuthorizationStrategy" class="org.springframework.security.acls.domain.AclAuthorizationStrategyImpl">
        <constructor-arg>
            <list>
                <bean class="org.springframework.security.core.authority.SimpleGrantedAuthority">
                    <constructor-arg value="ROLE_ADMIN"/>
                </bean>
                <bean class="org.springframework.security.core.authority.SimpleGrantedAuthority">
                    <constructor-arg value="ROLE_ADMIN "/>
                </bean>
                <bean class="org.springframework.security.core.authority.SimpleGrantedAuthority">
                    <constructor-arg value="ROLE_ADMIN "/>
                </bean>
            </list>
        </constructor-arg>
    </bean>
-->
    <bean id="aclAuthorizationStrategy" class="org.springframework.security.acls.domain.AclAuthorizationStrategyImpl">
        <constructor-arg ref="adminAuthority"/>
    </bean>
    <bean id="adminAuthority" class="org.springframework.security.core.authority.SimpleGrantedAuthority">
        <constructor-arg value="ROLE_ADMIN" />
    </bean>




    <bean id="aclAccessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
        <property name="decisionVoters">
            <list>
                <ref bean="aclDeleteCommentVoter" />
                <ref bean="aclUpdateCommentVoter" />
                <ref bean="aclReadCommentVoter" />
                <ref bean="preInvocationAuthorizationAdviceVoter" />
            </list>
        </property>
    </bean>
    <bean id="preInvocationAuthorizationAdviceVoter" class="org.springframework.security.access.prepost.PreInvocationAuthorizationAdviceVoter">
        <constructor-arg>
            <bean class="org.springframework.security.access.expression.method.ExpressionBasedPreInvocationAdvice" />
        </constructor-arg>
    </bean>


    <bean id="aclDeleteCommentVoter" class="org.springframework.security.acls.AclEntryVoter">
        <constructor-arg ref="aclService" />
        <constructor-arg value="ACL_COMMENT_DELETE" />
        <constructor-arg>
            <list>
                <util:constant static-field="org.springframework.security.acls.domain.BasePermission.DELETE" />
            </list>
        </constructor-arg>
        <property name="processDomainObjectClass" value="ua.org.gostroy.domain.Comment" />
    </bean>
    <bean id="aclUpdateCommentVoter" class="org.springframework.security.acls.AclEntryVoter">
        <constructor-arg ref="aclService" />
        <constructor-arg value="ACL_COMMENT_UPDATE" />
        <constructor-arg>
            <list>
                <util:constant static-field="org.springframework.security.acls.domain.BasePermission.ADMINISTRATION" />
            </list>
        </constructor-arg>
        <property name="processDomainObjectClass" value="ua.org.gostroy.domain.Comment" />
    </bean>
    <bean id="aclReadCommentVoter" class="org.springframework.security.acls.AclEntryVoter">
        <constructor-arg ref="aclService" />
        <constructor-arg value="ACL_COMMENT_READ" />
        <constructor-arg>
            <list>
                <util:constant static-field="org.springframework.security.acls.domain.BasePermission.READ" />
            </list>
        </constructor-arg>
        <property name="processDomainObjectClass" value="ua.org.gostroy.domain.Comment" />
    </bean>


</beans>